{{#each posts as |post| }}

    <h2>
      <a href="/post/{{post.id}}">{{post.title}}</a>
    </h2>
    <p>Created by {{post.user.username}} on {{post.time}}</p>
    <p>
      {{post.description}}
    </p>
{{/each}}